/***fontawsome***/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

/****header style****/
header {
    margin-left: 50px;
    margin-right: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav .nav-title {
    font-size: 45px;
    font-weight: 700;
}

span {
    color: #FF42A5;
    margin-left: 5px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    margin-right: 20px;


}

.nav-icon {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 5px;

}

.nav-icon .icon {
    font-size: 25px;
    margin-left: 10px;
}

/***banner style****/
.banner-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    font-size: 48px;
    font-weight: 600;
}

h1 {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 30px;
    margin: 0;
}

.button-pink {
    background-color: #FF42A5;
    color: aliceblue;
    border: none;
    border-radius: 48px;
    padding: 21px 40px;

}

.btn-blue {
    background-color: #4EC5F7;
    color: aliceblue;
    border: none;
    border-radius: 48px;
    padding: 21px 40px;
}


/*****gamer style***/
.gamer {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.gamer-area {
    text-align: end;


}

.colorful-text {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

/****funny videos****/
.funny {
    text-align: center;


}

.funny-section {
    margin-left: 50px;
    margin-right: 50px;
}

.funny h5 {
    font-size: 40px;
    margin: 0px;

}

.card-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card-area img {
    width: 260px;
    height: 350px;

}

/**play style***/
.play {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.gamer-area h5 {
    font-size: 40px;
    margin: 0px;
}

.play .gamer-area {
    margin-right: 20px;
}

.player-img img {
    height: 90%;
    margin-left: 100px;
}

.short-img img {
    width: 300px;
    height: 350px;
    border-radius: 8px;
    position: relative;
    bottom: 150px;
}

/**careers style***/
.careers {
    display: flex;
    align-items: center;
    background-color: #FF42A5;
    color: aliceblue;
    padding: 50px;

}

.careers h3 {
    font-size: 40px;
}

.careers-area {
    display: flex;
    justify-content: space-between;
}

.careers-area button {
    border-radius: 48px;
    border: none;
    color: #FF42A5;
    padding: 21px 40px;
}

.career-img img {
    width: 100%;

}


/*****************************responsive for mobile**********/
@media screen and (max-width:576px) {

    nav,
    nav ul,
    .banner-area,
    .gamer,
    .play,
    .careers {
        flex-direction: column;
    }

    .gamer-area {
        text-align: center;
    }

    .card-area {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*****************************responsive for tablet**********/
@media screen and (min-width:576px) and (max-width:960px) {

    nav,
    nav ul,
    .banner-area,
    .gamer,
    .play,
    .careers {
        flex-direction: column;

    }

    .gamer-area {
        text-align: center;
    }

    .card-area {
        grid-template-columns: repeat(2, 1fr);
    }

}